* {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
HTML{
    display: flex;
    margin: auto;
}

body{
    width: 60%;
    margin: auto;
}

:root{
    --colorBody:   rgb(121, 167, 179);
}

body{
    background-color: var(--colorBody);
}

.navigation{
    justify-content: center;
    background-color: rgb(28, 119, 134);
}
.navigation__title{
    text-align: center;
    padding: 15px;
}

.navigation__image{
    transition: transform 0.6s ease-in-out;
    
}

.navigation__image:hover{
    transform: scale(1.125);
}

.navigation__content{
    justify-content: center;
    text-align: center;
    height: 165px;
}
.navigation__nav{
    text-align: center;
    margin-top: 15px;
    font-size: larger;
    background-color: rgb(11, 73, 109);
    padding: 10px 0;
    width: 100%;
}
.navigation__link{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
.navigation__link:hover{
background-color: rgb(192, 107, 22);
text-transform: uppercase;
}


#biographie{
    display: flex;
}

.biographie__title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: xx-large;
}
.biographie__image{
    margin-right: 20px;
    margin-top: 25px;
    height: 20rem;
    
    transition: transform 0.6s ease-in-out;
}

.biographie__image:hover{
    transform: scale(1.25);
}

.biographie__paragraph{
    font-size: medium;
    margin-left: 10px;
    margin-top: 10px;
}
.biographie__left{
    box-sizing: border-box;
    width: 50%;
}
.biographie__right{
    box-sizing: border-box;
    width: auto;
    justify-content: right;
    order: 1;
    margin-left: 80px;
}
.biographie__list{
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.biographie__item{
    border-radius: 10px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    flex-wrap: wrap;
    
   
    }
.biographie__item--naissance{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
   
}
.biographie__item--music{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.biographie__item--album{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.biographie__item--droit{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.biographie__item--activite{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}

#secret{
    text-align: center;
}


#showSecret{
    margin: 10px 5px 10px 5px;
    background-color: #4CAF50;
    padding: 8px;
    width: 50%;
}



.oeuvre__title{
    margin-top: 20px;
    margin-left: 10px
}

.oeuvre__paragraph{
    margin-top: 15px;
    font-size: large;
    margin-left: 10px;
}
.oeuvre__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    text-align: center;
    
}
.oeuvre__item{
    margin: auto;
    width: 400px;
    

}

.oeuvre__item--bia{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.oeuvre__item--khanjar{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.oeuvre__item--shabe{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.oeuvre__item--madhosh{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}
.oeuvre__item--khodaya{
    background-color:  rgb(11, 73, 109);
    padding: 7px;
    margin: 7px;
    border-radius:5px;
    font-size: medium;
}

#citation{
    text-align: center;
}

.citation__title{
    margin-bottom: 10px;
    margin-top: 10px;

}
.citation__paragraph{
    margin-bottom: 20px;
}

#galerie{
    text-align: center;
}
.galerie__title{
    margin-bottom: 10px;
}

.galerie__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    
    list-style: none;
}

.galerie__item{
    width: 48%;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgb(148, 24, 24);
    transition: 0.6s ease-in-out;
    
}

.galerie__item:hover{
    transform: scale(1.25); 
}

#contact{
    text-align: center;
}
#formContact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text {
    width: 50%; 
    height: 200px;
    margin-left: 25%;
}
.button {
    margin-left: 25%; 
    margin-right: 25%;
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    margin-bottom: 10px;
}
.contact__title{
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact__input{
    width: 49%;
    padding: 5px
}


footer{
    padding: 15px;
    text-align: center;
    font-size: x-large;
}


/* Téléphones */
@media (max-width: 767px){
   body{
    width: 100%;
    font-size: 14px;
   }
   
    .navigation{
        justify-content: center;
        font-size: 24px;
        
    }

    #biographie{
     display: flex;
     justify-content: center;
     justify-items: center;
     flex-wrap: wrap;
    }
    .biographie__left{
        width: 90%;
    }

    .biographie__title{
        font-size: xx-large;
        text-align: center;
    }

    .biographie__image{
        justify-items:center;
        margin-left: 50px;
    }

    .biographie__right{
        width: 80%;
        order: -3;
    

    }
    .biographie__paragraph{
        font-size: 25px;
    }

    #showSecret{
        font-size: large;
    }

    .oeuvre__paragraph{
        font-size: 25px;
        text-align: center;
    }

    .oeuvre__title{
        text-align: center;
    }

    .galerie__paragraph{
        font-size: 25px;
    }

    .citation__paragraph{
        font-size: 25px;
    }

    .contact__title{
        font-size: 30px;
    }

    .contact__input{
        padding: 17px;
        margin-left: 35px;
    }

    .text{
    padding: 15px;
}

    .button{
        width: 54%;
    }

}




/* Tablettes */
@media(max-width: 1024px){
    body{
       width: 100%; 
       font-size: 20px;
    }

    .biographie__image{
        margin-right: 68px;
    }

    .galerie__list{
        margin-right: 20px;
    }

    #showSecret{
       padding: 18px;
    }
}